.about-me{
  display: block;
  @media (min-width:1301px) {
    padding: 125px 150px 150px 125px;
    display: flex;
  }
  padding: 30px 15px 15px 15px;

  .content{
    @media (min-width:1301px) {
      flex: 0 0 50%;
      font-size: 22px !important;
      .recent-tech{
        font-size: 22px !important;
        margin-top: 0;
        margin-bottom: .5rem;
        font-weight: 500;
        line-height: 1.2;
      }
    }
    h1{
      padding-bottom: 25px;
    }
    .technologies{
      display: grid;
      @media (min-width:1301px) {
        grid-template-columns: auto auto auto;
      }
      grid-template-columns: auto ;
      padding: 10px;
      div{
        padding-bottom: 10px;
      }
      .technology-name{
        display: inline;
        padding-left: 30px;
      }
    }
  }
  .picture{
    @media (min-width:1301px) {
      flex: 0 0 50%;
    }
  }

}