.about-me{
  display: block;
  position: relative;
  @media (max-width:1300px) {
    padding:70px 20px;
  }
  @media (min-width:1301px) {
    padding: 125px 150px 100px 125px;
    display: flex;
  }
  padding: 30px 15px 15px 15px;

  .content{
    @media (min-width:1301px) {
      flex: 0 0 70%;
      font-size: 22px !important;
      .recent-tech{
        font-size: 22px !important;
        margin-top: 0;
        margin-bottom: .5rem;
        font-weight: 500;
        line-height: 1.2;
      }
    }
    h1{
      padding-bottom: 25px;
    }
    .technologies{
      display: grid;
      @media (min-width:1301px) {
        grid-template-columns: auto auto auto;
      }
      grid-template-columns: auto ;
      padding: 10px;
      div{
        padding-bottom: 10px;
      }
      .technology-name{
        display: inline;
        padding-left: 30px;
      }
    }
  }
  .picture{
    padding-top: 50px;
    @media (max-width:1300px) {
      padding-top: 100px;
    }
    @media (min-width:1301px) {
      flex: 0 0 35%;
    }
    text-align: center;
    .prf-background{
      position: absolute;
      @media (max-width:500px) {
        width: 230px;
      }
    }
    .prf-pic{
      @media (min-width:1301px) {
        top: -50px;
        left: 50px;
        position: relative;
        height: 81%;
     }
      @media (min-width:501px) and (max-width:1300px) {
        top: -62px;
        left: 50px;
        position: relative;
        height: 440px;
     }
     @media (max-width:500px) {
      top: -52px;
      left: 43px;
      position: relative;
      height: 290px;
     }
    }
  }

}