.about-me{
  margin-top: 70px !important;
  scroll-margin: 200px;
  .content{
 
    .technologies {
      // background-color: inherit;
      display: grid;
      grid-template-columns: auto;

      @media (min-width: 576px) {
        grid-template-columns: auto auto;
      }
      @media (min-width: 768px) {
        grid-template-columns: auto auto auto;
      }
      @media (min-width: 1200px) {
        grid-template-columns: auto auto auto auto;
      }
      
    
      div {
        padding-bottom: 10px;
        // background-color: inherit;
      }
      .tick-mark {
        width: 20px;
      }
      .technology-name {
        display: inline;
        padding-left: 30px;
      }
    }
  }
  // .picture {
  //   background-color: inherit;
  //   animation-name: moveInRight;
  //   animation-duration: 2s;
  //   @media (max-width: 1300px) {
  //     padding-top: 100px;
  //   }
  //   @media (min-width: 1301px) {
  //     flex: 0 0 35%;
  //   }
  //   text-align: center;
  //   .prf-background {
  //     position: absolute;
  //     @media (max-width: 500px) {
  //       width: 230px;
  //     }
  //   }
    // .prf-pic {
    //   border-radius: 30px;
    //   @media (min-width: 1301px) {
    //     // top: 0;
    //     // right: 0;
    //     // position: relative;
    //     // height: 400px;
    //     transform: translate(25px, 33px);   
    //   }
    //   @media (min-width: 501px) and (max-width: 1300px) {
    //     // top: -62px;
    //     // left: 50px;
    //     // position: relative;
    //     height: 440px;
    //   }
    //   @media (max-width: 500px) {
    //     // top: -52px;
    //     // left: 43px;
    //     // position: relative;
    //     height: 290px;
    //   }
    
  // }
}


@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    // transform: translateX(20px);
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}






.about-me{
  .frame{
    width: 300px;
    height: 300px;
  }
  .photo{
    display: block;
    position: relative;
    padding-bottom: calc(100% - 36px);
    background-color: #fff;
    border-radius: 1000px;
    border: 18px solid #fff;
    overflow: hidden;
    -webkit-box-shadow: 0 0 25px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 25px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 25px 0 rgba(0,0,0,.1);
  }
  .picture{
    background-position: calc(50%) calc(30px);
    background-image: url(/images/profile.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    position: absolute;
    top: -18px;
    bottom: -18px;
    left: -18px;
    right: -18px;
  }
  .role{
    font-size: 16px;
    color: #aaa;
    font-weight: 300;
    margin-bottom: 10px;
    // font-family: "Poppins",Helvetica,sans-serif;

  }
  .name{
    font-size: 48px;
    font-weight: 600;
    font-style: normal;
    color: #333;
  }
  .technologies{
    filter: grayscale(1);
  }
}