.contact-section{
  background-color: #494C5D !important;
  display: block;
  text-align: center;
  @media (min-width:1301px) {
    display: flex !important;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 125px;
  }
  color: white;
  padding-top: 15px;
  .call-me{
   a{ 
     color: white;
   }
  }
  .contact-info{
    font-size: 25px;
    background-color: inherit;
    justify-content: center;
  }
  @media (max-width:1300px) {

  .logo{
    padding-bottom: 30px;
  }
  p{
    padding-bottom: 30px;
  }
  .contact-info{
    top: 5px;
    left: 9px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    h5{
      display: inline;
    }
    h6{
      display: inline;
      top: 5px;
      left: 5px;
      position: relative;
    }
  }
}
  @media (min-width:1301px) {
    .logo{
      top: 40px;
      position: relative;
    }
    p{
      flex:0 0 25%;
    }
    .contact-info{
      display: flex;
     flex-wrap: wrap;
      h6{
        top: 3px;
        left: 9px;
        position: relative;
      }
    }
    .phone-icon,.mail-icon,.follow-icon{
      bottom: 30px;
      position: relative;
    }
  }


}