.contact-section{
  background-color: #494C5D !important;
  display: block;
  text-align: center;
  padding: 50px 20px;
  @media (min-width:1301px) {
    display: flex !important;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 125px;
  }
  color: white;
  padding-top: 15px;

  .call-me{
   a{ 
     color: white !important;
     &:hover{
      color: white !important;
    }
   }
  }
  .contact-info{
    font-size: 25px;
    background-color: inherit;
    justify-content: center;
    .contact-heading,.contact-value{
      color: white;
    }
  }
  @media (max-width:1300px) {

  .logo{
    padding-bottom: 30px;
    font-size: 2rem;
  }
  p{
    padding-bottom: 30px;
  }
  .contact-info{
    top: 5px;
    left: 9px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    .contact-heading{
      display: inline;
    }
    .contact-value{
      display: inline;
      top: 7px;
      left: 5px;
      position: relative;
    }
  }
  .contact-heading{
    font-size: 1.5rem;
  }
  .contact-value{
    font-size: 1rem;
  }
}
  @media (min-width:1301px) {
    .logo{
      top: 40px;
      position: relative;
      font-size: 2rem;
    }
    p{
      flex:0 0 25%;
    }
    .contact-info{
      display: flex;
     flex-wrap: wrap;
      .contact-value{
        top: 8px;
        left: 9px;
        position: relative;
      }
    }
    .phone-icon,.mail-icon,.follow-icon{
      bottom: 30px;
      position: relative;
    }
  }

  .contact-heading{
    font-size: 1.5rem;
  }
  .contact-value{
    font-size: 1rem;
  }
}

