.get-in-touch-section{
  padding:90px 20px;
  text-align: center;
  font-size: 22px;
  @media (min-width:1301px) {
    padding:120px 125px;
  }
  .line-1{
    padding-bottom: 50px;
  @media (min-width:1301px) {
    width: 50%;
  }
    margin:0 auto;
  }
  .say-hello{
    border: 1px solid;
    padding: 10px;
    cursor: pointer;
  }
}