.header{
  .nav-menu{
    top: 58px;
    position: relative;
    margin-left: 58px;
    margin-right: 46px;
    display: flex;
    .nav-menu-items{
      font-size: 25px;
      &:first-child{
        flex: 2;
      }
      &:not(:first-child){
        font-weight: bold;
        flex: 1;
        flex: 1;
      }
      &:nth-child(2){
        // margin-left: 105px;
      }
      list-style-type: none;
      display: inline;
      &:last-child{
        border: 1px solid black;
        padding: 20px 40px;
      }
      a{
        text-decoration: none;
        color: black !important;
        &.contact-me{
        }
      }
    }
  }
}