.hero-section{
  position: relative;
  color: white;
  background-color: #494C5D !important;
  @media (min-width:1200px) {
    padding: 220px 150px 150px 150px; 
  .hello{
    font-size: 50px;
  }
  .name{
    font-size: 86px;
  }
  .line-1{
    font-size: 60px;
  }
  .line-2{
    font-size: 24px;
  }
  }  
  @media (max-width:1200px) {
    padding: 150px 15px 15px 15px; 
  .hello{
    font-size: 35px;
  }
  .name{
    font-size: 65px;
  }
  .line-1{
    font-size: 45px;
  }
  .line-2{
    font-size: 20px;
  }
  }  
}