.hero-section{
  position: relative;
  color: white;
  background-color: #494C5D !important;

.hero-circle{
  top:50px;
  right: 0;
}
.hero-triangle-1{
  right: 100px;
  top: 330px;
}
.hero-triangle-2{
  right: 450px;
  top: 150px;
}
.hero-triangle-3{
  top: 520px;
  left: -120px;
}
.hero-circle,.hero-triangle-1,.hero-triangle-2,.hero-triangle-3{
  position: absolute;
}

  @media (min-width:1301px) {
    padding: 220px 500px 150px 150px; 
  .hello{
    font-size: 50px;
  }
  .name{
    font-size: 86px;
  }
  .line-1{
    font-size: 60px;
  }
  .line-2{
    font-size: 24px;
  }
  }  
  @media (max-width:1300px) {
    padding: 150px 15px 15px 15px; 
  .hello{
    font-size: 35px;
  }
  .name{
    font-size: 65px;
    line-height: 1.25;
  }
  .line-1{
    font-size: 45px;
    line-height: 1.25;
  }
  .line-2{
    font-size: 20px;
  }
  }  
}