.hero-section{
  position: relative;
  color: white;
  background-color: #494C5D !important;
  padding: 300px 150px 150px 150px; 

  .hello{
    font-size: 50px;
  }
  .name{
    font-size: 86px;
  }
  .line-1{
    font-size: 60px;
  }
  .line-2{
    font-size: 24px;
  }
 
}