.hero-image {
  width: 100%;
  height: 100%;
}

.landing-main {
  top: 0;
  left: 0;
  position: absolute;

}


.landing{
  top:30px;
  position: relative;

}

body,div{
  background-color: #434343;
}