

// @font-face {
//   font-family: "Montserrat Semi Bold";
//   src: url("../../static/fonts/Montserrat/Montserrat-SemiBold.ttf");
// }

// @font-face {
//   font-family: "Montserrat Regular";
//   src: url("../../static/fonts/Montserrat/Montserrat-Regular.ttf");
// }

body,div{
  // background-color: rgb(231,231,231);
  font-family: 'Montserrat Regular', sans-serif;
}
#home{
  overflow-x: hidden;
  max-width: 3000px;
  margin: auto;
}
a {
  color: #000;
  text-decoration: none;
  &:hover{
    color: #000;
  }
}

